node_modules/
build/
.git
.vscode
dist/
*.log
coverage/
__pycache__/
*.pyc
uploads/
frontend/uploads/node_modules
build
.next
dist
npm-debug.log
yarn-error.log
.DS_Store
.git
.vscode
.env
coverage
public
src/**/*.map
